description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>RNEP - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- meta-tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- js -->


        <!-- //js -->
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //meta-tags -->
        {% put styles%}
        <!-- Custom Theme files -->
        <link href="{{url('themes/rnep/assets/css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{url('themes/rnep/assets/css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{url('themes/rnep/assets/css/font-awesome.css')}}" rel="stylesheet"><!-- font-awesome icons -->
        <!-- //Custom Theme files -->
        {% endput %}
        <!-- web-font -->
        <link href='//fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <!-- //web-font -->
        {% styles %}
    </head>
    <body>
        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>
        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>
        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>
        <!-- Scripts -->
        <!-- Slider-starts-Here -->
    {% put scripts %}
        <script src="{{url('themes/rnep/assets/js/jquery-1.11.1.min.js')}}"></script>
        <script src="{{url('themes/rnep/assets/js/responsiveslides.min.js')}}"></script>
        <script>
        // You can also use "$(window).load(function() {"
        $(function () {
        // Slideshow 3
            $("#slider3").responsiveSlides({
            auto: true,
            pager: true,
            nav: false,
            speed: 500,
            namespace: "callbacks",
            before: function () {
            $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
            $('.events').append("<li>after event fired.</li>");
            }
            });
        
        });
        </script>
    <!-- //End-slider-script -->
        <script type="text/javascript">
            $(window).load(function() {
            $("#flexiselDemo1").flexisel({
            visibleItems: 3,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
            portrait: {
            changePoint:480,
            visibleItems: 1
            },
            landscape: {
            changePoint:640,
            visibleItems:2
            },
            tablet: {
            changePoint:768,
            visibleItems: 2
            }
            }
            });
            
            });
        </script>

        <script type="text/javascript" src="{{url('themes/rnep/assets/js/jquery.flexisel.js')}}"></script>
        <script type="text/javascript" src="{{url('themes/rnep/assets/js/move-top.js')}}"></script>
        <script type="text/javascript" src="{{url('themes/rnep/assets/js/easing.js')}}"></script>
        <!-- start-smooth-scrolling -->
        <script type="text/javascript">
        jQuery(document).ready(function($) {
                $(".scroll").click(function(event){
                    event.preventDefault();
                
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
        </script>
        <!-- //end-smooth-scrolling -->
        <!-- smooth-scrolling-of-move-up -->
        <script type="text/javascript">
        $(document).ready(function() {
        
        var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear'
        };
        
        
        $().UItoTop({ easingType: 'easeOutQuart' });
        
        });
        </script>
        <!-- //smooth-scrolling-of-move-up -->
        <!-- for bootstrap working -->
        <script src="{{url('themes/rnep/assets/js/bootstrap.js')}}"> </script>
        <script src="{{url('themes/rnep/assets/js/responsiveslides.min.js')}}"> </script>
        <!-- //for bootstrap working -->
        {% endput %}
        {% framework extras %}
        {% scripts %}
    </body>
</html>